.title {
    font-size: 48px;
    color: #ffc4f2;
    font-weight: 600;
    text-align: center;
}

.about-wrapper {
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    font-family: josefin sans, sans-serif;
}

.profile-img {
    align-items: center;
}

.left-card {
    text-align: left;
    margin-left: 50px;
    align-items: justify;
}

.role {
    margin-top: -10px;
    color: #ff91c9;
    font-size: 22px;
    font-weight: 600;
}


.email {
    margin-top: 20px;
    font-size: 15px;
    opacity: 0.8;
}


/* EXPERIENCE CARD */
.experience-card {
    position: relative;
    top: -300px;
    left: 492px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 25px;
    height: 400px;
    width: 350px;
    padding: 20px;
}
.education-card{
    position: relative;
    top: -737px;
    left: 930px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 25px;
    height: 150px;
    width: 350px;
    padding: 20px;
}

.experience-card h3,
.education-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #ffd0f0;
    display: flex;
    text-align: center;
    align-items: center;
}


/* GITHUB BUTTON */
.github-btn {
    width: 100%;
    padding: 15px 0;
    border-radius: 20px;
    border: none;
    background: #ff91c9;
    font-size: 20px;
    margin-top: 35px;
    cursor: pointer;
    transition: 0.3s;
}


.github-btn:hover {
    background: #ff6ab7;
}