.about-wrapper {
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  padding: 80px 40px;
  color: white;
  text-align: center;
}

.title {
  font-size: 48px;
  color: #ffc4f2;
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 1.2;
}

/* Grid for content */
.content-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

/* Cards base */
.left-card,
.experience-card,
.right-card {
  width: 100%;
  max-width: 350px;
}

/* Left Card */
.left-card {
  padding: 20px;
  text-align: center;
}
.profile-img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.left-card h2 {
  font-size: 30px;
  margin-bottom: 8px;
}
.role {
  color: #ff91c9;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.email {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 15px;
}
.left-card p {
  font-size: 20px;
  line-height: 1.6;
}

/* Cards: Experience / Education / Tools */
.experience-card,
.education-card,
.tools-card {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 25px;
  padding: 20px;
  text-align: left;
}
.experience-card h3,
.education-card h3,
.tools-card h3 {
  font-size: 22px;
  color: #ffd0f0;
  margin-bottom: 12px;
}
.experience-card ul,
.education-card ul,
.tools-card ul {
  font-size: 18px;
  line-height: 1.6;
  padding-left: 20px;
}
.right-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* GitHub Button */
.github-btn {
  width: 100%;
  padding: 15px 0;
  border-radius: 20px;
  border: none;
  background: #ff91c9;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 50px;
}
.github-btn:hover {
  background: #ff6ab7;

}

/* Tablet responsive */
@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }
  .content-grid {
    flex-wrap: wrap;
  }
  .left-card,
  .experience-card,
  .right-card {
    max-width: 48%;
    margin-top:10px ;
  }
  .profile-img {
    width: 140px;
    height: 140px;
  }
}

/* Mobile responsive */
@media (max-width: 480px) {
  .about-wrapper {
    padding: 50px 16px;
  }
  .title {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .content-grid {
    flex-direction: column;
    align-items: center;
  }
  .left-card,
  .experience-card,
  .right-card,
  .education-card,
  .tools-card {
    max-width: 100%;
    width: 100%;
  }
  .profile-img {
    width: 120px;
    height: 120px;
  }
  .left-card p,
  .experience-card ul,
  .education-card ul,
  .tools-card ul {
    font-size: 15px;
  }
  .github-btn {
    margin-top: 10px;
    font-size: 16px;
    padding: 12px 0;
  }
}
