.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  gap: 60px;
  color: white;
}

.hero-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 350px;
  filter: drop-shadow(0 6px 15px #0004);
}

.hero-right {
  max-width: 550px;
}

.hero-right h1 {
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.hero-right p {
  font-size: 1.7rem;
  line-height: 1.4;
  margin-top: 30px;
}
.cta {
  padding: 17px 29px;
  background-color: #c7a2ff;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.purple {
  color: #c7a2ff;
}
.pink {
  color: #ff94c2;
}
.white {
  color: white;
}
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-img {
    width: 280px;
  }

  .hero-right h1 {
    font-size: 3.2rem;
  }

  .hero-right p {
    font-size: 1.3rem;
  }
}
