.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 27px;
  font-weight: 500;
}

/* Hamburger icon */
.menu-icon {
  display: none;
  position: absolute;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Tablet */
@media (max-width: 768px) {
  .nav-links {
    gap: 20px;
  }

  .nav-links a {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .menu-icon {
    display: block;
    z-index: 1100;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;

    background: #0d0d0d;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    transition: right 0.3s ease;
    z-index: 1000;
  }

  .nav-links.open {
    right: 0;
  }
}
