.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 27px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .nav-links {
    gap: 20px;
  }

  .nav-links a {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 15px 0;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
