.projects {
    text-align: center;
    padding: 20px 40px;
    color: white;
}

.section-title {
    font-size: 64px;
    color: #ffc4f2;
    font-weight: 600;
    text-align: center;
}



.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 60px;                             /* spacing between rectangles */
  max-width: 800px;                      /* total grid width */
  margin: 0 auto;                        /* center horizontally */
  justify-items: center;                  /* center items in their columns */
  padding: 50px 0;                        /* vertical spacing */
}

.project {
  background: #1a1a1a;
  border-radius: 22px;
  border: 1px solid #333;
  width: 400px;     /* rectangle width */
  height: 280px;    /* rectangle height */
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures the image covers the rectangle */
  border-radius: 22px; /* matches the rectangle's border radius */
   
}
.cta1 {
  position: relative;
  top: 5px;
  left: 200px;
  padding: 17px 40px;
  background-color: #c7a2ff;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family:  "Josefin Sans", sans-serif;
  font-size: 18px;
 }