.services {
  text-align: center;
  padding: 20px 40px;
  color: white;
}

.section-title {
  font-size: 64px;
  margin-bottom: 40px;
  color: #ffc4f2;
  font-weight: 600;
}
.decorative-image1 {
  position: absolute;
  top: 760px;
  left: 480px;
  width: 500px;
  
}
.decorative-image2 {
  position: absolute;
 top: 830px;
 left: 100px;
  
  
}
.elec {
  position: absolute;
  top: 820px;
  left: 1300px;
  width: 50px;
  
  
} 

.service-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 100px;
}

.service-box {
  position: relative;        /* required for the border overlay */
  padding: 70px;
  width: 400px;
  background: #14131352;
  border-radius: 40px;
  box-shadow: 0 0 10px #0003;
  overflow: hidden;          /* so the SVG doesn't overflow */
}

/* The SVG that draws the border */
.border-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;      /* so it doesn't block clicking inside */
}

/* The dashed rectangle */
.border-rect {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #ffffffa9;
  stroke-width: 4px;

  /* CONTROL THESE: */
  stroke-dasharray: 13 18;   /* 25px dash, 18px gap */
  stroke-dashoffset: 0;
transition: stroke 0.3s, stroke-dashoffset 0.6s;

}

.service-box:hover .border-rect {
  stroke: #ffc4f2;
  stroke-dashoffset: -60;
}

.service-box h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
.service-box ul {
  font-size: 30px;
  text-align: left;
  padding: 20px;
}
.service-box ul li {
  margin-bottom: 20px;
}