.stack {
  text-align: center;
  padding: 20px 40px;
  color: white;
}
.decorative-image {
  position: absolute;
  top: 1640px;
  left: 530px;
  width: 400px;
  
}
.section-title {
  font-size: 64px;
  color: #ffc4f2;
  font-weight: 600;
}
.stack-icons{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.stack-icons {
  display: flex;
  flex-direction: column;   /* rows stacked vertically */
  align-items: center;      /* center all rows */
  gap: 50px;                /* space between rows */
  margin-top: 100px;
}


/* Each row */
.first-row,
.second-row,
.third-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px; /* space between icons */

}
/* Divider lines */
.divider {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 0;
  border-top: 2px dashed #555; /* thickness & style */
  margin-top: 20px;
  margin-bottom: 20px;
  /* Adjust dash length & spacing */
  border-top-style: dashed;
  border-top-width: 2px;
  border-image: repeating-linear-gradient(to right, #555 0, #555 10px, transparent 10px, transparent 20px) 1;
}

.ticker-wrapper {
  width: 100%;
 
  padding: 10px 0px;
  display: flex;
}

.ticker {
  display: flex;
  gap: 15px;
  animation: scroll 25s linear infinite;
  width: max-content; /* important */
   
}

.item {
  background: #1a1a1a;
  padding: 30px 90px;
  border-radius: 22px;
  border: 1px solid #333;
  white-space: nowrap;
  font-weight: 500;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* scroll halfway (one set of items) */
  }
}
