body {
  background-color: #0a0a0a;
  color: aliceblue;
  
  
  background-image:
    linear-gradient(#bbaaff10 1px, transparent 1px),
    linear-gradient(90deg, #bbaaff10 1px, transparent 1px);
  
  background-size: 30px 30px; /* perfect squares */
  font-family: "Josefin Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

